# Python practice Notebook

In [5]:
print("Hello World")
print("Welcome to my channel")

Hello World
Welcome to my channel

In [6]:
#single line comment and multiple line commnets.

'''
multiple lines comment 
youtube is best platform to search 
'''
print("hello")

hello

In [7]:
#variable declaration 
a= 10
print(type(a))

<class 'int'>

In [10]:
a= 190.5
b= True
c= "string"
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'bool'>
<class 'str'>

In [13]:
c+ " values"  # concatenation . Its also the example of strong typing.

'string values'

In [17]:
c+str(1)

'string1'

In [18]:
#dynamic typing
a= 10
a="sahil"
print(a)

sahil

In [19]:
#string Formatting 
a= 100
print("the value of a is -",a)

the value of a is - 100

In [1]:
firstname = "Sahil"
LastName = "Sharma"
print("The firstname is {} and the last name is {}".format(LastName,firstname))

The firstname is Sharma and the last name is Sahil

In [2]:
firstname = "Sahil"
LastName = "Sharma"
print("The firstname is {1} and the last name is {0}".format(LastName,firstname))

The firstname is Sahil and the last name is Sharma

In [30]:
#input type
a = int(input("enter a number A "))
b = int(input("enter the number B "))
print(a+b)

enter a number A 34
enter the number B 34
68

# Python Control Flows

In [54]:
# if-else Statement
value = float(input("enter the value from your end "))
if(value>100):
    print("The number is greater than 100 ")
else:
    print("the number is not greater than 100")

enter the value from your end 123
The numbe is greater than 100

In [35]:
# if else Statement
value = float(input("enter the value from your end "))
if(value>100):
    print("The numbe is greater than 100 ")
else:
    print("the number is NOT greater than 100")

enter the value from your end 23
the number is NOT greater than 100

In [37]:
# if else Statement
value = float(input("enter the value from your end "))
if(value%2 == 0):
    print("The Number Is Even Number ")
else:
    print("The Number Is Odd Number ")

enter the value from your end 23
The Number Is Odd Number

In [1]:
# if else Statement
value = float(input("enter the value from your end "))
if(value%2 == 0):
    print("The Number Is Even Number ")
else:
    print("The Number Is Odd Number ")

enter the value from your end 24
The Number Is Even Number

In [ ]:
# nested if-else statement

In [5]:
age = float(input("enter the value of age"))
if(age<18):
    print("You are a minor ")
elif(age>=18 and age<45):
    print("You are in mid age")
elif(age>=45 and age<60):
    print("You are in senior mid age")
else:
    print("You are senior")

enter the value of age6
You are a minor

In [7]:
age = float(input("enter the value of age"))
if(age<18):
    print("You are a minor ")
    if(age<15):
        print("You are in school")
    else:
        print("You are in college")
elif(age>=18 and age<45):
    print("You are in mid age")
elif(age>=45 and age<60):
    print("You are in senior mid age")
else:
    print("You are senior")

enter the value of age17
You are a minor
You are in college

In [1]:
# Loops statement
# while, for  
lst = [1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [11]:
lst = [1,2,3,4,5]
for i in lst:
    print(i**2)

1
4
9
16
25

In [16]:
# find the sum of all element in the list
sum1 =0 
lst= [1,2,3,4,5]
for i in lst:
    sum1 = sum1+i
print(sum1)

15

In [1]:
# find the sum of even and odd number 
even_sum =0
odd_sum = 0
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if(i%2==0):
        even_sum = i+even_sum
    else:
        odd_sum = odd_sum+i
print("The sum of even number is {} and sum of odd number is {}".format(even_sum,odd_sum))

The sum of even number is 30 and sum of odd number is 25

In [2]:
# while loops
i=0
even_sum=0
odd_sum=0
while(i<=10):
    for i in lst:
        if(i%2==0):
            even_sum = i+even_sum
        else:
            odd_sum = odd_sum+i
    i=i+1
print("The sum of even number is {} sum of odd number is {}".format(even_sum,odd_sum))

The sum of even number is 30 sum of odd number is 25

In [ ]:
# Break and continue

# Python Operators 

Logical,
equality,
comparision, 
Arithmetic,

In [1]:
# logical opeartor 
# and , or , not 
# boolean variable -- true , false

In [2]:
type(True)

bool

In [3]:
True and False

False

In [4]:
True or False

True

In [6]:
not False

True

In [8]:
age = int(input("enter the age "))
if(age>18 and age<35):
    print("execution successful")

enter the age 5

In [9]:
#equality operator 
# is , is not, == , !=

In [10]:
a= "Sahil"
b= "Sahil"
a==b

True

In [11]:
age = int(input("enter the age "))
if age==18:
    print("You are 18 years of age ")
else:
    print("You are not 18")

enter the age 18
You are 18 years of age

In [12]:
a= "Sahil"
id(a)  # It will show us in which memory it will be pointed.

2454227344432

In [13]:
# comparison operator
# >,<,=,>=,<=

In [15]:
marks = float(input("enter the marks"))
if marks>=35:
    print("pass")
    if marks>=36 and marks<80:
        print("Fisrt division")
    else:
        print("Distinction")

enter the marks60
pass
Fisrt division

# Python Number Method

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

In [23]:
a= abs(10)  # give absolute value
b = abs(-10)
c = abs(-55.40)
print("The value of a,b and c is {},{},{}".format(a,b,c))

The value of a,b and c is 10,10,55.4

In [24]:
import math

In [33]:
math.ceil(44.5)

45

In [26]:
math.ceil(44.7)

45

In [27]:
math.ceil(44.3)

45

In [28]:
math.ceil(-44.6)

-44

In [29]:
math.floor(54.6)

54

In [30]:
math.floor(54.3)

54

In [31]:
math.floor(-54.4)

-55

In [34]:
# exponential number
math.exp(10)

22026.465794806718

In [35]:
math.exp(-7)

0.0009118819655545162

In [37]:
# log(x)
math.log(10)   # It will consider log at base e

2.302585092994046

In [38]:
math.log10(10) # log10 is consider as base 10

1.0

In [44]:
# max
max(10,100,1000,9999)

9999

In [40]:
min(-55,-44,-33)

-55

In [41]:
# power
math.pow(2,3)

8.0

In [47]:
math.sqrt(25)

5.0

# Trignometric functions

In [56]:
import math
math.sin(90)

0.8939966636005579

In [51]:
math.cos(0)

1.0

In [57]:
math.tan(45)

1.6197751905438615

In [59]:
#hypot
math.hypot(2,3)

3.605551275463989

In [62]:
math.modf(2.5)

(0.5, 2.0)

In [61]:
math.modf(3.9)

(0.8999999999999999, 3.0)

# LIST
A list is a data sturture in python that is a mutable, or changeable, ordered sequence of element. Each element or value in the list is called as item.List is defined in the []

In [9]:
lst = [1,2,3,4,5]
print(type(lst))
print(lst)
print(lst[0])
print(lst[4])
lst[4] = "Sahil"
print(lst)   # here list is mutable.

<class 'list'>
[1, 2, 3, 4, 5]
1
5
[1, 2, 3, 4, 'Sahil']

In [6]:
type([])

list

In [3]:
str = "Sahil"
a = str[0]
print(a)
print(str)

S
Sahil

In [5]:
# string are immutable.
str[2] = "j"
print(str)

TypeError: 'str' object does not support item assignment

In [10]:
lst1 = list((1,2,3,4,5,6))
print(lst1)

[1, 2, 3, 4, 5, 6]

In [12]:
a = len(lst1)
print(a)
print(max(lst1))

6
6

# Append function

In [28]:
lst2 = [1,22,44,55,11,2]
lst2.append(34)
lst2.append("Sahil")
lst2.append(["Arpit","harshit"])
print(lst2)
print(lst2[8])
print(lst2[8][1])
print(lst2[8][0])

# Indexing 

print(lst2[2:])         
print(lst2[-1:])
print(lst2[4:7])

[1, 22, 44, 55, 11, 2, 34, 'Sahil', ['Arpit', 'harshit']]
['Arpit', 'harshit']
harshit
Arpit
[44, 55, 11, 2, 34, 'Sahil', ['Arpit', 'harshit']]
[['Arpit', 'harshit']]
[11, 2, 34]

In [31]:
# insert functions -- insert(position, value)
lst3 = ["Math","Science","Chemistry", 1,2,3,4,5,6,11,55,34]
lst3.insert(3,"Arpit")
lst3.insert(7,85)          # It will insert the value on a particular index.
print(lst3)

['Math', 'Science', 'Chemistry', 'Arpit', 1, 2, 3, 85, 4, 5, 6, 11, 55, 34]

In [32]:
# extend method::- It will baically extend the same list without creating the nested list
lst4 = [1,2,3,44,55,66,77]
lst4.extend([85,87])
print(lst4)

[1, 2, 3, 44, 55, 66, 77, 85, 87]

In [34]:
lst5 = [1,2,3,4,5,6]
print(lst5*3)         # it will append the same lst5 3 times
print(sum(lst5))

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
21

In [37]:
# pop: It will pop out the last element. If we provide specific index it will pop out the that index value and update lst
lst6 = [1,2,4,5,6,7]
lst6.pop()
lst6.pop(3)
print(lst6)

[1, 2, 4, 6]

In [43]:
# count : It will calculate the total occurance of element in the list.
lst7 = [1,1,2,2,1,1,1,3,4,5]
print(lst7.count(1))
print(lst7.count(2))

5
2

# Sets
A set is an unordered collection of datatype that is iterable , mutable and has no duplicate element.Python's set class represent the mathematical notion of the set. This is based on the data sturcture which is know as hash table.

In [1]:
print(type({}))       # It will take the value in the form of key value pair.
print(type({1,2,3}))  # It will take the value independently.

<class 'dict'>
<class 'set'>

In [56]:
print(set([1,2,3,4,5,5]))    # It will not take any duplicate value.

{1, 2, 3, 4, 5}

In [57]:
set_var= {"hitman","Ironman","Batman"}
print(set_var)
print(type(set_var))
# we can'nt get the data from set through indexing. By iterating the complete set we will get the data from set. 
# we can'nt assign the item in the set.

{'Batman', 'hitman', 'Ironman'}
<class 'set'>

In [51]:
for i in set_var:
    print(i)

Batman
hitman
Ironman

In [67]:
set1 = set(["Sahil", "Arpit","Harshit"])
print(set1)
set1.add("Gargi")
set1.add("Bhavna")
print(set1)

{'Sahil', 'Arpit', 'Harshit'}
{'Gargi', 'Sahil', 'Arpit', 'Harshit', 'Bhavna'}

In [72]:
set_2 = set([4,2,3,1,6])
print(set_2)

{1, 2, 3, 4, 6}

In [124]:
set_3 = set({22,33,11,55,44,34})
print(set_3)

{33, 34, 22, 55, 11, 44}

In [110]:
set_4 = {"Aditi","Arpit","Harshit","Sahil"}
print(set_4)

{'Sahil', 'Arpit', 'Harshit', 'Aditi'}

In [112]:
set_5 = {"Arpit","Harshit","Sahil"}
set_4.intersection(set_5)

{'Arpit', 'Harshit', 'Sahil'}

In [117]:
set_4.difference(set_5)

{'Aditi'}

In [120]:
set_4.difference_update(set_5)
print(set_4)

{'Aditi'}

# Dictionaries
A dict is a collection which is unordered,changeable and indexed. In python dict are written in curry baraces, and they have a key value pairs.

In [126]:
print(type(dict()))

<class 'dict'>

In [127]:
dict(Name="Sahil",age=31,Last_name="Sharma")

{'Name': 'Sahil', 'age': 31, 'Last_name': 'Sharma'}

In [133]:
my_car= {"Car1":"Audi","Car2":"BMW","Car3":"Swift"}
print(my_car)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Swift'}

In [137]:
print(my_car["Car1"])
print(my_car["Car2"])

Audi
BMW

In [138]:
my_car.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Swift')])

In [139]:
my_car.keys()

dict_keys(['Car1', 'Car2', 'Car3'])

In [140]:
my_car.values()

dict_values(['Audi', 'BMW', 'Swift'])

In [146]:
for x in my_car:
    print(x)         # by default it will print the key

Car1
Car2
Car3

In [147]:
for x in my_car.values():       # It will print the values in the dict.
    print(x)

Audi
BMW
Swift

In [148]:
for x in my_car.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Swift')

In [154]:
my_car["Car4"]="Ambasdoor"

In [153]:
print(my_car)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Swift', 4: 'Ambasdoor', 'Car4': 'Ambasdoor'}

In [155]:
my_car.pop(4)

'Ambasdoor'

In [156]:
print(my_car)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Swift', 'Car4': 'Ambasdoor'}

# Tuples

In [158]:
tuples = tuple()
print(type(tuples))

<class 'tuple'>

In [162]:
my_tuple = ("Sahil","Harshit","Sharma","Sharma")
print(my_tuple)

('Sahil', 'Harshit', 'Sharma', 'Sharma')

In [163]:
my_tuple.count("Sharma")

2