In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Task1 
    Problem Statement
    1. Find the no. of Sales of North Team
    2. Find the no. of Confirmed Sales of Ram
    3. Find the Sum of Sale Amount of Bharat and Shyam combined
    4. Find the Average Sale Amount of Alisha
    5. Which Employee has the highest Confirmed Booking / Total Bookings ratio? And which employee has the lowest?
    6. Give a business analysis on the Performance of the overall team

In [2]:
sales_data  = pd.read_excel(r"C:\Users\sasha\Desktop\SahilSharma_GeneralAnalyst_10C.xlsx",sheet_name='Task - 1')
sales_data.head()

,BookingNo.,Sales Person,Area,Booking Confirmed,Sales,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,Bharat,North,Yes,201,NaN,NaN,Problem Statement
1,2,Ram,North,Yes,263,NaN,NaN,1. Find the no. of Sales of North Team
2,3,Shyam,North,Yes,590,NaN,NaN,2. Find the no. of Confirmed Sales of Ram
3,4,Ram,North,Yes,293,NaN,NaN,3. Find the Sum of Sale Amount of Bharat and S...
4,5,Alisha,North,No,406,NaN,NaN,4. Find the Average Sale Amount of Alisha

In [3]:
# sales_data.drop(columns=['Unnamed: 5','Unnamed: 6','Unnamed: 7'],inplace=True)

In [4]:
sales_data.head(2)

,BookingNo.,Sales Person,Area,Booking Confirmed,Sales,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,Bharat,North,Yes,201,NaN,NaN,Problem Statement
1,2,Ram,North,Yes,263,NaN,NaN,1. Find the no. of Sales of North Team

In [5]:
# Find the no. of Sales of North Team
total_sales_north = sales_data[sales_data['Area']=='North']['Sales'].count()
total_sales_north

11

In [6]:
# Find the no. of Confirmed Sales of Ram
ram_confirmed_sales = sales_data[(sales_data['Booking Confirmed']=='Yes') & (sales_data['Sales Person']=='Ram')]['Sales'].count()
ram_confirmed_sales

4

In [7]:
# Find the Sum of Sale Amount of Bharat and Shyam combined
bharat_Shyam_Sales = sales_data[sales_data['Sales Person'].isin(['Bharat','Shyam'])]['Sales'].sum()
bharat_Shyam_Sales

3483

In [8]:
# Find the Average Sale Amount of Alisha
sales_data[sales_data['Sales Person']=='Alisha']['Sales'].mean()

450.0

In [187]:
# Which Employee has the highest Confirmed Booking / Total Bookings ratio? And which employee has the lowest?
employees = sales_data['Sales Person'].unique()
# print(employees)
ratio = {}
for employee in employees:
    total_booking = sales_data[sales_data['Sales Person'] == employee].shape[0]
    # print(total_booking)
    confirmed_booking = sales_data[(sales_data['Sales Person']== employee) & (sales_data['Booking Confirmed']=='Yes')].shape[0]
    # print(confirmed_booking)
    ratio[employee] = confirmed_booking/total_booking 
    # print(ratio[employee])

highest_ratio_employee = max(ratio,key=ratio.get)
#print(highest_ratio_employee)
lowest_ratio_employee =  min(ratio,key=ratio.get)
#print(lowest_ratio_employee)
print("The highest ratio employee is {} and the lowest ratio employee is {}".format(highest_ratio_employee,lowest_ratio_employee))

The highest ratio employee is Ram and the lowest ratio employee is Shyam

In [10]:
total_booking = sales_data['Sales Person'].value_counts().reset_index()
confirmed_booking = sales_data[sales_data['Booking Confirmed'] =='Yes'].groupby('Sales Person')['Sales Person'].value_counts().reset_index()
ratio = confirmed_booking['count']/total_booking['count']

print(ratio.reset_index())
print("The highest ratio is ",max(ratio))
print("The lowest ratio is ", min(ratio))

   index  count
0      0    0.5
1      1    0.4
2      2    0.8
3      3    0.8
4      4    0.5
The highest ratio is  0.8
The lowest ratio is  0.4

### Give a business analysis on the Performance of the overall team
    As I have gone through the data i can clearly conclude that:
    
    1) The team which is working in the South of city has total number of 14 sales which is higher than the north team
    which has done 11 sales in their area.
    2) The highest performer is Ram(0.8) as it has the highest confirmed to total booking ratio and we have Shyam(0.4) 
    as the lowest performer as it has the lowest confirmed to total booking ratio
    3) With the help of above data we can clealy say that bharat and shayam together give the huge amount of sales in their 
    working region.
    4) Alisha on the other hand has the mean of 450.0 as of total sales which she did.

# Task 2
    Create an automated mechanism to calculate the price on the basis of the selection of Hotel, No of Trip Days, No of Rooms, and No. Of Cabs required.
    
***Please see the Solution in Excel***

In [11]:
trip_data = pd.read_excel(r"C:\Users\sasha\Desktop\SahilSharma_GeneralAnalyst_10C.xlsx",sheet_name='Task - 2')

# Task 3
    1. Identify top 3 Best Performing Ad campaigns. Also give 1 best performing campaign based on impressions, 
    clicks and sales
    2. Identify which are the best Selling SKUs and what is the Ad spend on them
    3. Based on the Sales Trend, Identify SKus where there is need to re-order
    4. Identify which are the SKUs where the Sales is low and Inventory is high
    5. Show Week on Week trend of SKus against the Sales and Ad spends"

In [12]:
product_sales = pd.read_excel(r"C:\Users\sasha\Desktop\SahilSharma_GeneralAnalyst_10C.xlsx", sheet_name= 'Sales')
ads_data = pd.read_excel(r"C:\Users\sasha\Desktop\SahilSharma_GeneralAnalyst_10C.xlsx", sheet_name='Ads dump')
inventory_data = pd.read_excel(r"C:\Users\sasha\Desktop\SahilSharma_GeneralAnalyst_10C.xlsx",sheet_name='inv dump')

# Data Cleaning

In [13]:
product_sales.shape

(1673, 8)

In [14]:
ads_data.shape

(11194, 7)

In [15]:
inventory_data.shape

(9692, 3)

In [16]:
product_sales.head(2)

,date,ASIN,Title,SKU,Sessions - Total,Page Views - Total,Units Ordered,Ordered Product Sales
0,2024-04-01,B08VS7JX1G,Celio Men's Regular Fit Fullsleeve Shirt (8904...,8904330000000,1,6,1,"₹1,249.00"
1,2024-04-01,B0B63YHTPM,Celio Men Tie Dye Light Blue Half Sleeve Sprea...,8905550000000,2,2,1,₹999.00

In [17]:
product_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1673 entries, 0 to 1672
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1673 non-null   datetime64[ns]
 1   ASIN                   1673 non-null   object
 2   Title                  1673 non-null   object
 3   SKU                    1673 non-null   int64
 4   Sessions - Total       1673 non-null   int64
 5   Page Views - Total     1673 non-null   int64
 6   Units Ordered          1673 non-null   int64
 7   Ordered Product Sales  1673 non-null   object
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 104.7+ KB

In [18]:
product_sales['Ordered Product Sales'] = product_sales['Ordered Product Sales'].str.replace('₹','').str.replace(',','').astype('float')

In [19]:
product_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1673 entries, 0 to 1672
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1673 non-null   datetime64[ns]
 1   ASIN                   1673 non-null   object
 2   Title                  1673 non-null   object
 3   SKU                    1673 non-null   int64
 4   Sessions - Total       1673 non-null   int64
 5   Page Views - Total     1673 non-null   int64
 6   Units Ordered          1673 non-null   int64
 7   Ordered Product Sales  1673 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 104.7+ KB

In [20]:
ads_data.head(2)

,Date,Campaign Name,Advertised SKU,Advertised ASIN,Impressions,Clicks,Spend
0,2024-04-01,Tshirt/24E/SP/Auto,8905550083669,B0CKXCCL7T,4185,6,₹50.80
1,2024-04-02,Tshirt/24E/SP/Auto,8905550083669,B0CKXCCL7T,2494,8,₹68.24

In [21]:
ads_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11194 entries, 0 to 11193
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             11194 non-null  datetime64[ns]
 1   Campaign Name    11194 non-null  object
 2   Advertised SKU   11194 non-null  int64
 3   Advertised ASIN  11194 non-null  object
 4   Impressions      11194 non-null  int64
 5   Clicks           11194 non-null  int64
 6   Spend            11194 non-null  object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 612.3+ KB

In [22]:
ads_data['Spend'] = ads_data['Spend'].str.strip().str.replace('₹','').str.replace(',','').astype('float')

In [23]:
ads_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11194 entries, 0 to 11193
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             11194 non-null  datetime64[ns]
 1   Campaign Name    11194 non-null  object
 2   Advertised SKU   11194 non-null  int64
 3   Advertised ASIN  11194 non-null  object
 4   Impressions      11194 non-null  int64
 5   Clicks           11194 non-null  int64
 6   Spend            11194 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 612.3+ KB

In [24]:
inventory_data.head(2)

           Store Name            SKU  Total Available Quantity
0  Bhiwandi Warehouse  3596652935250                         2
1  Bhiwandi Warehouse  3596652935342                         3

In [25]:
inventory_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9692 entries, 0 to 9691
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Store Name                9692 non-null   object
 1   SKU                       9692 non-null   int64
 2   Total Available Quantity  9692 non-null   int64
dtypes: int64(2), object(1)
memory usage: 227.3+ KB

# Problem Solving

#### Identify top 3 Best Performing Ad campaigns. Also give 1 best performing campaign based on impressions,clicks and sales

In [63]:
# Advertised SKU , Advertised ASIN
print(product_sales['ASIN'].unique().shape)
print(ads_data['Advertised ASIN'].unique().shape)
print(product_sales['SKU'].unique().shape)
print(ads_data['Advertised SKU'].unique().shape)
print(product_sales.shape)
print(ads_data.shape)

(961,)
(295,)
(501,)
(269,)
(1673, 8)
(11194, 7)

In [94]:
# product_sales.merge(ads_data,how = 'inner', left_on='ASIN',right_on='Advertised ASIN').shape

In [28]:
product_ads_data = product_sales.merge(ads_data,how='inner',left_on='SKU',right_on='Advertised SKU')
product_ads_data.shape

(733150, 15)

In [95]:
product_ads_data[product_ads_data.duplicated()]

Empty DataFrame
Columns: [date, ASIN, Title, SKU, Sessions - Total, Page Views - Total, Units Ordered, Ordered Product Sales, Date, Campaign Name, Advertised SKU, Advertised ASIN, Impressions, Clicks, Spend, Total_Sales, Profit]
Index: []

In [29]:
product_ads_data['Total_Sales'] = product_ads_data['Units Ordered'] * product_ads_data['Ordered Product Sales']

In [30]:
product_ads_data[product_ads_data['Units Ordered']==2].head(1)

,date,ASIN,Title,SKU,Sessions - Total,Page Views - Total,Units Ordered,Ordered Product Sales,Date,Campaign Name,Advertised SKU,Advertised ASIN,Impressions,Clicks,Spend,Total_Sales
36027,2024-04-02,B0C5XY94V2,Celio Men's Orange Printed Bermuda Shorts,3596660000000,1,1,2,2698.0,2024-03-08,Tshirt/24E/SP/Auto,3596660000000,B0C9QBZ3T3,67,0,0.0,5396.0

In [31]:
# Just Munging with data.
# product_ads_data.groupby('SKU')['Spend'].sum().sort_values(ascending = True).head(3)
# product_ads_data.groupby('SKU')['Total_Sales'].sum().sort_values(ascending =False).head(3).reset_index()
# top3_sku= product_ads_data.groupby('SKU')['Total_Sales'].sum().sort_values(ascending =False).head(3).index.tolist()
# product_ads_data[product_ads_data['SKU'].isin(top3_sku)].groupby('SKU')['Spend'].sum().reset_index()

In [32]:
pd.set_option('display.float_format', '{:.10f}'.format)

In [33]:
product_ads_data['Profit'] = product_ads_data['Total_Sales']-product_ads_data['Spend']

In [34]:
# Identify top 3 Best Performing Ad campaigns OR Best Performing campaign on the basis of SALES
top5_sales_ad = product_ads_data.groupby('SKU')['Profit'].sum().sort_values(ascending=False).head(3).reset_index()
top5_sales_ad

             SKU                Profit
0  8905550000000 1372978297.7200000286
1  3596660000000  185625243.8000000119
2  8904328628170    1849504.7600000000

In [35]:
top5_sales_ad['SKU'].values.tolist()

[8905550000000, 3596660000000, 8904328628170]

In [36]:
# Best Performing SKU Based on impression
product_ads_data.groupby('SKU')['Impressions'].sum().sort_values(ascending =False).head(1).reset_index()

             SKU  Impressions
0  8905550000000    441289134

In [37]:
# Best Performing SKU Based on CLicks
product_ads_data.groupby('SKU')['Clicks'].sum().sort_values(ascending=False).head(1).reset_index()

             SKU   Clicks
0  8905550000000  2382974

#### Identify which are the best Selling SKUs and what is the Ad spend on them

In [38]:
# Best Selling SKU's
best_selling_sku = product_ads_data.groupby('SKU')['Profit'].sum().sort_values(ascending = False).head().reset_index()
best_selling_sku

             SKU                Profit
0  8905550000000 1372978297.7200000286
1  3596660000000  185625243.8000000119
2  8904328628170    1849504.7600000000
3  8905550063883    1156660.8400000001
4  8905550071420     948842.8100000001

In [39]:
best_sku = best_selling_sku['SKU'].values.tolist()

In [42]:
# ads spend on best performing SKU
product_ads_data[product_ads_data['SKU'].isin(best_sku)].groupby('SKU')['Spend'].sum().sort_values(ascending=False).reset_index()

             SKU               Spend
0  8905550000000 11096750.2799999993
1  3596660000000  1292287.2000000000
2  8905550063883   167438.1600000000
3  8905550071420    62847.1900000000
4  8904328628170     8367.2400000000

#### Based on the Sales Trend, Identify SKus where there is need to re-order

In [70]:
order_repeated = product_ads_data[(product_ads_data['Units Ordered']==3) | (product_ads_data['Units Ordered']==2)]

In [79]:
all_sku_reorder = order_repeated.groupby('SKU')['Ordered Product Sales'].sum().index.tolist()
all_sku_reorder

[3596656029832,
 3596660000000,
 8904328628170,
 8905550000000,
 8905550063883,
 8905550065351,
 8905550065597,
 8905550071420,
 8905550084628,
 8905550126908]

#### Identify which are the SKUs where the Sales is low and Inventory is high

In [88]:
print(inventory_data.shape)
print(product_sales.shape)

(9692, 3)
(1673, 8)

In [96]:
product_inv_data = product_sales.merge(inventory_data,how='inner', on='SKU')

In [98]:
product_inv_data.shape

(540, 10)

In [99]:
product_inv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      540 non-null    datetime64[ns]
 1   ASIN                      540 non-null    object
 2   Title                     540 non-null    object
 3   SKU                       540 non-null    int64
 4   Sessions - Total          540 non-null    int64
 5   Page Views - Total        540 non-null    int64
 6   Units Ordered             540 non-null    int64
 7   Ordered Product Sales     540 non-null    float64
 8   Store Name                540 non-null    object
 9   Total Available Quantity  540 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 42.3+ KB

In [138]:
product_inv_data.groupby('SKU')['Ordered Product Sales'].sum().sort_values().head(9)

SKU
3596656029931     0.0000000000
8905550125512     0.0000000000
8905550072724     0.0000000000
3596655930900     0.0000000000
8905550066662     0.0000000000
3596655915099     0.0000000000
3596656061894     0.0000000000
8905550059855     0.0000000000
8904328682370   591.6900000000
Name: Ordered Product Sales, dtype: float64

In [136]:
min_sku = product_inv_data.groupby('SKU')['Ordered Product Sales'].sum().sort_values().head(8).index.tolist()
min_sku

[3596656029931,
 8905550125512,
 8905550072724,
 3596655930900,
 8905550066662,
 3596655915099,
 3596656061894,
 8905550059855]

In [139]:
product_inv_data[product_inv_data['SKU'].isin(min_sku)].groupby('SKU')['Total Available Quantity'].sum().sort_values(ascending =False)

SKU
8905550072724    32
3596655930900     6
3596656061894     6
8905550125512     6
8905550059855     3
3596655915099     2
3596656029931     2
8905550066662     2
Name: Total Available Quantity, dtype: int64

In [134]:
product_inv_data[product_inv_data['SKU']==8905550072724]

,date,ASIN,Title,SKU,Sessions - Total,Page Views - Total,Units Ordered,Ordered Product Sales,Store Name,Total Available Quantity
256,2024-04-24,B0CBQ49FLV,Celio Solid Brown Long Sleeves Denim Jacket,8905550072724,0,0,1,0.0000000000,Bhiwandi Warehouse,32

#### Show Week on Week trend of SKus against the Sales and Ad spends"

In [169]:
# Week on Week trends of SKUs against the Sales
week_wise_sales = product_ads_data.resample('W-SUN',on='date')['Ordered Product Sales'].sum()
week_wise_sales

date
2024-03-03    61783179.0000000000
2024-03-10   111109908.0000000000
2024-03-17   118826455.0000000000
2024-03-24   202097187.0000000000
2024-03-31   241910636.0000000000
2024-04-07   499148060.0000000000
2024-04-14   207342149.0000000000
2024-04-21     3551142.0000000000
2024-04-28     3295818.0000000000
2024-05-05     2423967.9600000000
Freq: W-SUN, Name: Ordered Product Sales, dtype: float64

In [168]:
# Week on Week trends of SKUs against the ads-spends
week_wise_ads_spend = product_ads_data.resample('W-SUN', on='date')['Spend'].sum()
week_wise_ads_spend

date
2024-03-03    520711.4000000000
2024-03-10    886564.6800000001
2024-03-17    978426.7100000000
2024-03-24   1594958.9600000000
2024-03-31   2242484.6400000001
2024-04-07   4461212.7599999998
2024-04-14   1816881.9199999999
2024-04-21    137827.0300000000
2024-04-28    152725.6700000000
2024-05-05    134387.2200000000
Freq: W-SUN, Name: Spend, dtype: float64

In [172]:
pd.set_option('display.max_rows', None)
product_ads_data.groupby('SKU').resample('W-SUN',on='date')['Ordered Product Sales'].sum()

SKU            date
3596655708967  2024-04-28      135218.0000000000
3596655844085  2024-05-05       67455.0000000000
3596655852301  2024-05-05      322410.2400000000
3596655881523  2024-04-21       78705.0000000000
3596655896046  2024-03-17       50141.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       50141.0000000000
3596655963274  2024-05-05       41560.0000000000
3596655976359  2024-05-05       71022.6000000000
3596656012704  2024-03-17      121394.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       60697.0000000000
               2024-04-21      121394.0000000000
3596656012728  2024-03-17       73892.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       73892.0000000000
3596656023953  2024-05-05       57840.1200000000
3596656026640  2024-05-05       47980.0000000000
3596656029832  2024-04-21      191940.0000000000
3596656042978  2024-05-05       14388.0000000000
3596656043531  2024-03-17       66317.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       66317.0000000000
               2024-04-21       66317.0000000000
3596656045450  2024-04-28       33572.0000000000
3596656045467  2024-04-28       33572.0000000000
               2024-05-05       33572.0000000000
3596656045474  2024-04-21       34771.0000000000
3596656063928  2024-04-21       68355.0000000000
               2024-04-28       68355.0000000000
3596660000000  2024-03-03     6770159.0000000000
               2024-03-10    14684798.0000000000
               2024-03-17    18679282.0000000000
               2024-03-24    22698957.0000000000
               2024-03-31    22207888.0000000000
               2024-04-07    62405882.0000000000
               2024-04-14    35448713.0000000000
8904231587069  2024-04-21       58758.0000000000
8904231587076  2024-04-28       51763.0000000000
8904231587090  2024-04-28       30778.0000000000
               2024-05-05       30778.0000000000
8904328628170  2024-03-17      348351.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14      348351.0000000000
               2024-04-21      348351.0000000000
               2024-04-28           0.0000000000
               2024-05-05      116117.0000000000
8904328628194  2024-04-28       99329.0000000000
8904328639237  2024-03-17       26439.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       26439.0000000000
               2024-04-21       26439.0000000000
8904328646655  2024-03-17      124108.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14           0.0000000000
               2024-04-21      124108.0000000000
               2024-04-28      137908.0000000000
8904328659099  2024-04-28       67455.0000000000
8904328660866  2024-05-05        1349.0000000000
8905550000000  2024-03-03    55013020.0000000000
               2024-03-10    96425110.0000000000
               2024-03-17    98850124.0000000000
               2024-03-24   179398230.0000000000
               2024-03-31   219702748.0000000000
               2024-04-07   436742178.0000000000
               2024-04-14   170811162.0000000000
8905550015233  2024-05-05      131904.0000000000
8905550017022  2024-04-28      125910.0000000000
8905550018104  2024-03-17       23976.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       23976.0000000000
8905550020060  2024-04-28       91439.0000000000
8905550026543  2024-04-21       36344.0000000000
8905550026550  2024-04-28       18172.0000000000
8905550027045  2024-05-05       31225.0000000000
8905550027359  2024-03-17        3196.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14        3196.0000000000
8905550034289  2024-05-05       67455.0000000000
8905550037501  2024-05-05        5994.0000000000
8905550054683  2024-03-17       44955.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       44955.0000000000
               2024-04-21       44955.0000000000
8905550054904  2024-04-28       44955.0000000000
8905550059855  2024-04-28           0.0000000000
8905550063883  2024-03-17      189157.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14      189157.0000000000
               2024-04-21      378314.0000000000
               2024-04-28      189157.0000000000
               2024-05-05      189157.0000000000
8905550063890  2024-04-21       96778.0000000000
               2024-04-28      193556.0000000000
8905550065191  2024-04-28      139860.0000000000
               2024-05-05      139860.0000000000
8905550065351  2024-04-21       48258.0000000000
               2024-04-28      241290.0000000000
               2024-05-05       48258.0000000000
8905550065597  2024-03-17       29970.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14           0.0000000000
               2024-04-21       89910.0000000000
               2024-04-28       29970.0000000000
8905550066679  2024-04-21       50556.0000000000
               2024-04-28      101112.0000000000
               2024-05-05           0.0000000000
8905550067287  2024-04-21      140906.0000000000
               2024-04-28       70453.0000000000
8905550068208  2024-04-28       18821.0000000000
8905550070645  2024-05-05       72442.0000000000
8905550071277  2024-04-21       85462.0000000000
               2024-04-28           0.0000000000
               2024-05-05      151924.0000000000
8905550071420  2024-03-17       56205.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       56205.0000000000
               2024-04-21       56205.0000000000
               2024-04-28      224820.0000000000
               2024-05-05      168615.0000000000
8905550076647  2024-04-21       29980.0000000000
               2024-04-28       29980.0000000000
8905550084024  2024-05-05      258984.0000000000
8905550084222  2024-04-21       65753.0000000000
               2024-04-28      131506.0000000000
8905550084567  2024-05-05        6245.0000000000
8905550084574  2024-04-21           0.0000000000
               2024-04-28       51209.0000000000
               2024-05-05           0.0000000000
8905550084628  2024-04-21           0.0000000000
               2024-04-28       74940.0000000000
               2024-05-05       49960.0000000000
8905550125581  2024-04-21      436644.0000000000
8905550125741  2024-03-17       39186.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       39186.0000000000
8905550125765  2024-04-21      249111.0000000000
               2024-04-28      249111.0000000000
8905550126892  2024-04-21       31980.0000000000
8905550126908  2024-04-21      127920.0000000000
8905550126960  2024-04-21      175912.0000000000
               2024-04-28      175912.0000000000
8905550130929  2024-04-21       95166.0000000000
               2024-04-28       95166.0000000000
               2024-05-05       95166.0000000000
8905550132435  2024-05-05       78372.0000000000
8905550134484  2024-04-28       91124.0000000000
8905550136259  2024-05-05       79170.0000000000
8905550140980  2024-04-21       89530.0000000000
               2024-04-28       44765.0000000000
               2024-05-05       44765.0000000000
8905550141024  2024-03-17       99762.0000000000
               2024-03-24           0.0000000000
               2024-03-31           0.0000000000
               2024-04-07           0.0000000000
               2024-04-14       99762.0000000000
8905550141031  2024-04-21      102320.0000000000
               2024-04-28      204640.0000000000
Name: Ordered Product Sales, dtype: float64

In [173]:
product_ads_data.groupby('SKU').resample('W-SUN', on='date')['Spend'].sum()

SKU            date
3596655708967  2024-04-28      4294.2700000000
3596655844085  2024-05-05       298.2900000000
3596655852301  2024-05-05        98.1600000000
3596655881523  2024-04-21       720.4900000000
3596655896046  2024-03-17       770.2200000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14       770.2200000000
3596655963274  2024-05-05      3690.8600000000
3596655976359  2024-05-05      2019.3400000000
3596656012704  2024-03-17      2142.8200000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14      1071.4100000000
               2024-04-21      2142.8200000000
3596656012728  2024-03-17      5383.3800000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14      5383.3800000000
3596656023953  2024-05-05      2076.3900000000
3596656026640  2024-05-05       731.9100000000
3596656029832  2024-04-21      1558.2600000000
3596656042978  2024-05-05       253.5300000000
3596656043531  2024-03-17       842.1700000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14       842.1700000000
               2024-04-21       842.1700000000
3596656045450  2024-04-28       852.9700000000
3596656045467  2024-04-28       542.9700000000
               2024-05-05       542.9700000000
3596656045474  2024-04-21       440.5500000000
3596656063928  2024-04-21       473.4000000000
               2024-04-28       473.4000000000
3596660000000  2024-03-03     51504.2000000000
               2024-03-10    112372.8000000000
               2024-03-17    145148.2000000000
               2024-03-24    163877.0000000000
               2024-03-31    154512.6000000000
               2024-04-07    449491.2000000000
               2024-04-14    215381.2000000000
8904231587069  2024-04-21      1169.6600000000
8904231587076  2024-04-28       898.4800000000
8904231587090  2024-04-28      1295.6400000000
               2024-05-05      1295.6400000000
8904328628170  2024-03-17      2390.6400000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14      2390.6400000000
               2024-04-21      2390.6400000000
               2024-04-28         0.0000000000
               2024-05-05      1195.3200000000
8904328628194  2024-04-28      9517.4800000000
8904328639237  2024-03-17       103.5400000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14       103.5400000000
               2024-04-21       103.5400000000
8904328646655  2024-03-17      3851.9100000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14         0.0000000000
               2024-04-21      3851.9100000000
               2024-04-28      3851.9100000000
8904328659099  2024-04-28      1061.4300000000
8904328660866  2024-05-05         0.0000000000
8905550000000  2024-03-03    469207.2000000000
               2024-03-10    774191.8800000000
               2024-03-17    774191.8800000000
               2024-03-24   1431081.9600000000
               2024-03-31   2087972.0400000000
               2024-04-07   4011721.5600000001
               2024-04-14   1548383.7600000000
8905550015233  2024-05-05      1460.1400000000
8905550017022  2024-04-28       706.3400000000
8905550018104  2024-03-17       759.0500000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14       759.0500000000
8905550020060  2024-04-28       578.5400000000
8905550026543  2024-04-21       165.4600000000
8905550026550  2024-04-28       251.2500000000
8905550027045  2024-05-05      1922.3000000000
8905550027359  2024-03-17        40.6800000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14        40.6800000000
8905550034289  2024-05-05      1026.8300000000
8905550037501  2024-05-05      1056.3100000000
8905550054683  2024-03-17      1945.2000000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14      1945.2000000000
               2024-04-21      1945.2000000000
8905550054904  2024-04-28      1072.2700000000
8905550059855  2024-04-28      3103.2800000000
8905550063883  2024-03-17     27906.3600000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14     27906.3600000000
               2024-04-21     55812.7200000000
               2024-04-28     27906.3600000000
               2024-05-05     27906.3600000000
8905550063890  2024-04-21      5757.7500000000
               2024-04-28     11515.5000000000
8905550065191  2024-04-28      2258.8600000000
               2024-05-05      2258.8600000000
8905550065351  2024-04-21      4681.5100000000
               2024-04-28     18726.0400000000
               2024-05-05      4681.5100000000
8905550065597  2024-03-17      1046.3500000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14         0.0000000000
               2024-04-21      2092.7000000000
               2024-04-28      1046.3500000000
8905550066679  2024-04-21      1065.4000000000
               2024-04-28      2130.8000000000
               2024-05-05      1065.4000000000
8905550067287  2024-04-21      4799.9600000000
               2024-04-28      2399.9800000000
8905550068208  2024-04-28       569.8400000000
8905550070645  2024-05-05       809.7300000000
8905550071277  2024-04-21     10304.7200000000
               2024-04-28         0.0000000000
               2024-05-05     20609.4400000000
8905550071420  2024-03-17      8978.1700000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14      8978.1700000000
               2024-04-21      8978.1700000000
               2024-04-28     26934.5100000000
               2024-05-05      8978.1700000000
8905550076647  2024-04-21       735.8000000000
               2024-04-28       735.8000000000
8905550084024  2024-05-05     41493.1200000000
8905550084222  2024-04-21      5432.9500000000
               2024-04-28     10865.9000000000
8905550084567  2024-05-05        18.7500000000
8905550084574  2024-04-21      2441.2000000000
               2024-04-28      2441.2000000000
               2024-05-05      2441.2000000000
8905550084628  2024-04-21       648.6400000000
               2024-04-28      1945.9200000000
               2024-05-05      1297.2800000000
8905550125581  2024-04-21      4093.7600000000
8905550125741  2024-03-17       265.6500000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14       265.6500000000
8905550125765  2024-04-21      1200.8400000000
               2024-04-28      1200.8400000000
8905550126892  2024-04-21       598.3400000000
8905550126908  2024-04-21      1036.0400000000
8905550126960  2024-04-21      6995.1800000000
               2024-04-28      6995.1800000000
8905550130929  2024-04-21       610.2100000000
               2024-04-28       610.2100000000
               2024-05-05       610.2100000000
8905550132435  2024-05-05      1481.7400000000
8905550134484  2024-04-28      2234.7900000000
8905550136259  2024-05-05      1145.2200000000
8905550140980  2024-04-21      3844.4800000000
               2024-04-28      1922.2400000000
               2024-05-05      1922.2400000000
8905550141024  2024-03-17      2660.4900000000
               2024-03-24         0.0000000000
               2024-03-31         0.0000000000
               2024-04-07         0.0000000000
               2024-04-14      2660.4900000000
8905550141031  2024-04-21       892.5600000000
               2024-04-28      1785.1200000000
Name: Spend, dtype: float64