### Python List

- What are List 
- List vs Array
- Characterstics of a List
- How to create list 
- Access Items from List 
- Editing Items in the list 
- Deleting items from the list 
- operation on list 
- functions on list

#### What are Lists
    List is a data type where you can store multiple items under 1 name. More technically, lists act like 
    dynamic arrays which means you can add more items on the fly.
    
    lst = [20, 'jessica', 35.75, [30,50,70]]
    
    Why Lists are required in programming?
    
    We can have multiple value in the list so that in just one command we will be able to tranform the list as per 
    it required.

In [1]:
lst = [20, 'jessica', 35.75, [30,50,70]]
print(lst)
print(type(lst))

[20, 'jessica', 35.75, [30, 50, 70]]
<class 'list'>

#### Array vs List

- Fixed Vs Dynamic Size
- Convenience -> Hetrogeneous
- Speed of Execution --> list is slower. array is fast
- Memory --> list occupy more space. array take less space.

In [2]:
a = 2
print(id(a)) # --> The id will print the address of a.

140706629935944

In [3]:
lst = [1,2,3]
print(id(lst))
print(id(lst[0]))
print(id(lst[1]))
print(id(lst[2]))
print("************************************")
print(id(1))
print(id(2))
print(id(3))

2799604390912
140706629935912
140706629935944
140706629935976
************************************
140706629935912
140706629935944
140706629935976

#### Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous --> add multiple different types of Datatypes
- Can have duplicates 
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [4]:
lst1 = [1,2,3]
lst2 = [3,2,1]
lst1 == lst2

False

#### Creating a List

In [5]:
# empty list 
l1 = []
print(l1)

# 1D List 
lst10 = [1,2,3,4,5]
print(lst10)

# 2D List 
lst12 = [[1,2,3],[4,5,6]]
print(lst12)

# 3D list 
lst13 = [[[1,2,3],[1,2,3]]]
print(lst13)

# Hetrogenous list 
print([1,2,'sahil', 2.5, [1,2], True])

# Type conversion 
list1 = 'hello'
list(list1)

[]
[1, 2, 3, 4, 5]
[[1, 2, 3], [4, 5, 6]]
[[[1, 2, 3], [1, 2, 3]]]
[1, 2, 'sahil', 2.5, [1, 2], True]

['h', 'e', 'l', 'l', 'o']

In [6]:
print([1,2,'sahil', 2.5, [1,2], True,(1,2,3)])

[1, 2, 'sahil', 2.5, [1, 2], True, (1, 2, 3)]

#### Accessing Items from the list

In [7]:
# Indexing and slicing
list2 = [1,2,3,4,5,6]
print(list2[2])

3

In [8]:
list3 = [1,2,3,4,5, [8,9,10]]
print(list3[-1][2])

10

In [9]:
list4 = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(list4[0][1][0])
print(list4[1][1][0])

3
7

In [10]:
list5 = [1,2,3,34,5,6,7,8,9]
list5[2:8]

[3, 34, 5, 6, 7, 8]

#### Adding Items to the list

In [11]:
# Append, extend, insert
list10 = [1,2,3,4,5]
list10.append(10)
list10.append([1,2])
print(list10)

[1, 2, 3, 4, 5, 10, [1, 2]]

In [12]:
# extend
list10.extend([6,7,8])
print(list10)

[1, 2, 3, 4, 5, 10, [1, 2], 6, 7, 8]

In [13]:
list10.extend('delhi')
print(list10)

[1, 2, 3, 4, 5, 10, [1, 2], 6, 7, 8, 'd', 'e', 'l', 'h', 'i']

In [14]:
list10.insert(8,10)    # List10.insert(index pos, value)
print(list10)

[1, 2, 3, 4, 5, 10, [1, 2], 6, 10, 7, 8, 'd', 'e', 'l', 'h', 'i']

#### Editing Items in list

In [15]:
lis12 = [1,2,3,4,5]
lis12[-1] = 500
print(lis12)

[1, 2, 3, 4, 500]

In [16]:
lis12[1:4] = [200,300,400]
print(lis12)

[1, 200, 300, 400, 500]

#### Deleting items from the list

In [18]:
# del 
list15 = [1,2,34,5]
print(list15)
del list15
print(list15)

[1, 2, 34, 5]

NameError: name 'list15' is not defined

In [19]:
# remove
list16 = [1,2,3,4,5]
list16.remove(5)
list16.remove(2)

In [20]:
print(list16)

[1, 3, 4]

In [21]:
# pop
list17 = [2,3,4,5,6,7]
list17.pop(0)
print(list17)

[3, 4, 5, 6, 7]

#### Operations in list 

- Arithemtic (+,*)
- Membership --> in, not in
- Loops

In [22]:
list11 = [1,2,3,4,5,6]
list12 = [1,2,3,4,5,[9,8]]
list14 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in list11:
    print(i)
print("********************")

for j in list12:
    print(j)
print("********************")

for k in list14:
    print(k)

1
2
3
4
5
6
********************
1
2
3
4
5
[9, 8]
********************
[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

#### List functions

In [23]:
# len/min/max/sorted
list17 = [1,2,3,4,5,6,7]
print(len(list17))
print(min(list17))
print(max(list17))
print(sorted(list17))

7
1
7
[1, 2, 3, 4, 5, 6, 7]

In [24]:
list17.count(2)

1

In [25]:
list17.index(5)

4

In [26]:
lst20 = [2,1,4,6,5,7,1]
lst20.reverse()
print(lst20)

[1, 7, 5, 6, 4, 1, 2]

In [27]:
lst21 = [2,1,5,7,0]
print(sorted(lst21))
print(lst21.sort())

[0, 1, 2, 5, 7]
None

#### List Comprehension
    List Comprehension provides a concise way of creating lists.

    newlist = [expression for item in iterable if condition == True]
    
    Advantages of List Comprehension

- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [28]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,10):
    L.append(i)
    
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list31 = [i for i in range(1,11) if i>5]
print(list31)

[6, 7, 8, 9, 10]

In [30]:
# scalar multiplication on a vector
vec = [2,3,4]
s = -3
[s*i for i in vec]

[-6, -9, -12]

In [31]:
# Add Square
list21 = [1,2,3,4,5]
output1 = [i**2 for i in list21 if i**2 >10]
print(output1)

[16, 25]

In [32]:
# Print all numbers divisible by 5 in the range of 1 to 50
lst31 = [i for i in range(1,51) if i%5==0]
print(lst31)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [33]:
 # find languages which start with letter p
languages = ['java','python','php','c','javascript']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
for i in languages:
    if i[0] == 'p':
        print(i)

In [34]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [35]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [6,7,8,9]

[i*j for i in L1 for j in L2]

#### 2 ways to traverse a list
- itemwise
- indexwise

In [36]:
# itemwise loop
lst = [1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

In [37]:
# Indexwise loop
lst = [1,2,3,4,5]
for i in range(0,len(lst)):
    print(i)

0
1
2
3
4

### Zip
    The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed 
    iterator is paired together, and then the second item in each passed iterator are paired together.
    If the passed iterators have different lengths, the iterator with the least items decides 
    the length of the new iterator.

In [38]:
# Write a program to add items of 2 lists indexwise
lst1 = [1,2,3,4]
lst2 = [-1,-2,-3,-4]
print(zip(lst1,lst2))
print(list(zip(lst1,lst2)))

[i+j for i, j in zip(lst1,lst2)]

<zip object at 0x0000028BD3EBEF80>
[(1, -1), (2, -2), (3, -3), (4, -4)]

[0, 0, 0, 0]

In [39]:
def add(a,b):
    return a+b

a = int(input("Enter the 1st value"))
b = int(input("Enter the 2nd Value"))

output = add(a,b)
print(output)

Enter the 1st value5
Enter the 2nd Value7
12

In [40]:
list51 = [1,2,print,type,input,add]
print(list51)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x0000028BD5322650>>, <function add at 0x0000028BD56A9440>]

In [41]:
for i in list51:
    print(i)

1
2
<built-in function print>
<class 'type'>
<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x0000028BD5322650>>
<function add at 0x0000028BD56A9440>

### Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [1]:
# list are mutable
a = [1,2,3]
b = a
print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [2]:
a = [1,2,3]
b = a.copy()
print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

In [42]:
# Can have duplicates
lst50 = [1,2,3,4,4,4,5,5]
print(lst50)

[1, 2, 3, 4, 4, 4, 5, 5]

### Tuple,Set and Dictionary
    A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements 
    of a tuple once it is assigned whereas we can change the elements of a list.

    In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

###### Characterstics

- Ordered
- Unchangeble
- Allows duplicate

##### Plan of attack
- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuple

In [4]:
# empty tuple
t1 = ()
print(t1)

# Create a tuple with the single item.
t2 = ('hello',)
print(t2)
print(type(t2))

t3 = ('hello')
print(t3)
print(type(t3))

# Homo
t4 = (1,2,3,4)
print(t4)
print(type(t4))

# hetro
t5 = (1,2,True,[1,2,3])
print(t5)
print(type(t5))

# 2D tuple
t6 = (1,2,3,(4,5))
print(t6)

t7 = tuple('hello')
print(t7)

()
('hello',)
<class 'tuple'>
hello
<class 'str'>
(1, 2, 3, 4)
<class 'tuple'>
(1, 2, True, [1, 2, 3])
<class 'tuple'>
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

In [5]:
# Accessing items from the tuple
# Indexing , Slicing 
t8 = (1,2,3,4,5,6,7,8,9)
print(t8[0])
print(t8[5])
print(t8[-1])
print("*********************")
print(t8[1:6])
print(t8[::-1])

1
6
9
*********************
(2, 3, 4, 5, 6)
(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [6]:
# Editing items
t8[0] = 100
print(t8)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Adding items
# Items addition is not possible because tuple are immutable.

In [7]:
# Deleting in tuple.
t10 = (1,2,3,4,5)
print(t10)
del t10
print(t10)

(1, 2, 3, 4, 5)

NameError: name 't10' is not defined

In [8]:
# Operation on Tuples
# +,*, membership operator, iteration
t11 = (1,2,3,4)
t12 = (5,6,7,8)
print(t11+t12)
print(t11*3)
print(1 in t11)
print(5 not in t11)

# Iteration 
for i in t11:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
True
1
2
3
4

#### Tuples Functions
- len, sum, min, max, sorted

In [9]:
t14 = (1,2,3,4,5,6)
print(len(t14))
print(sum(t14))
print(min(t14))
print(max(t14))
print(sorted(t14,reverse = True))

6
21
1
6
[6, 5, 4, 3, 2, 1]

In [10]:
print(t14.count(5))

1

In [11]:
print(t14.index(4))

3

#### Difference between Lists and Tuples
- Syntax
- Mutability
- Speed --> immutable datatypes are faster than mutable datatype.
- Memory
- Built in functionality
- Error prone
- Usability

In [12]:
import time 

L1 = list(range(100000000))
T1 = tuple(range(100000000))

start = time.time()
for i in L1:
    i*5
print('List time',time.time()-start)

start = time.time()
for i in T1:
    i*5
print('Tuple time',time.time()-start)

List time 9.831998825073242
Tuple time 9.397691249847412

In [13]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [14]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [15]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

#### Why use tuple?

    We use tuple where we need to perform only read only operations. and if we talk about the list we create the list
    where we need to make the frequent changes in the data.

#### Special Syntax

In [16]:
# Tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [17]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [18]:
a= 1
b = 2
a,b = b,a
print(a,b)

2 1

In [19]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [20]:
# zipping tuple
a = (1,2,4,5)
b = (6,7,8,9)
output = list(zip(a,b))
print(output)

[(1, 6), (2, 7), (4, 8), (5, 9)]

### Sets
    
    A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable 
    (cannot be changed).
    However, a set itself is mutable. We can add or remove items from it.
    Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

##### Characterstics:

- Unordered

- Mutable
- No Duplicates
- Can't contain mutable(list) data types

In [21]:
# Creating Sets
# By default set and dict share the same syntax so we have to use type conversion function.
s = set()
print(s)
print(type(s))

# 1d set
s1 = {1,2,3}
print(s1)
print(type(s1))

# 2d set
#s3 = {1,2,34,{5,6}}
#print(s3)

# Homo and hetro
s4 = {1,'hello', True, 4.5}
print(s4)

# Type conversion 
s5 = set([1,2,3,4])
print(s5)

# Duplicate not allowed
s6 = {1,2,3,1,2,3}
print(s6)

# set can'nt have mutable item
s7 = {1,2,3,[4,5]}
print(s7)

set()
<class 'set'>
{1, 2, 3}
<class 'set'>
{1, 'hello', 4.5}
{1, 2, 3, 4}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [22]:
# unordered
s1 = {1,2,3}
s2 = {3,2,1}
s1 ==s2

True

In [44]:
# Accessing items from set
# we can'nt do indexing because its a unordered collection of element. so there is no indexing possible.
s8 = {1,2,3,4,5,6,7}
print(s8[0])
print(s8[0:3])

TypeError: 'set' object is not subscriptable

In [45]:
# editing items
s9 = {1,2,3,4,5}
s9[0]= 100

TypeError: 'set' object does not support item assignment

In [24]:
# Adding items in sets
s10 = {1,2,3,4}
s10.add(10)
s10.add(2.5)
print(s10)
s10.update([9,11])
print(s10)

{1, 2, 3, 4, 2.5, 10}
{1, 2, 3, 4, 2.5, 9, 10, 11}

In [25]:
# deleting the items
s11 = {1,2,3,4,5}
print(s11)
s11.discard(5)
print(s11)
s11.remove(2)
print(s11)
s11.pop()
print(s11)
s11.clear()
print(s11)
del s11
print(s11)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 3, 4}
{3, 4}
set()

NameError: name 's11' is not defined

### Set Operation

In [26]:
s13 = {1,2,3,4,5}
s14 = {4,5,6,7,8}

# Union(|)
# Intersection(&)
print(s13 | s14)
print(s13 & s14)

# Difference(-)
print(s13-s14)
print(s14-s13)

# Symmetric Difference(^)
print(s13^s14)

# Membership Test
print(1 in s13)
print(1 not in s13)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
False

In [27]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1)

s1.update(s2)
print(s1)
print(s2)

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issubset(s2)

##### Frozenset

    Frozen set is just an immutable version of a Python set object.

In [48]:
fs = frozenset([1,2,3])
print(fs)
print(type(fs))

frozenset({1, 2, 3})
<class 'frozenset'>

In [ ]:
# what operation works and what does not
# works -> all read functions
# does't work -> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

### Set Comprehension

In [49]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

### Dictionary

    Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike 
    other data types which hold only a single value as an element.

    In some languages it is known as map or assosiative arrays.

    dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

##### Characterstics:
- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

#### Create Dictionary

In [47]:
# empty dict
d1 = {}
print(type(d1))

# 1D dict
d2 = {'name':'sahil', 'gender':'Male','Age':32}
print(d2)

# with mixed key 
d3 = {(1,2,3):1, 'hello':'world'}
print(d3)

# 2D dict 
stud = {
    'name':'sahil',
    'college':'Gla university',
    'semester':4,
    'subjects':{
        'Dsa':97,
        'Math':85,
        'english':78,
        'Science':88
    }
}
print(stud)

# using sequence and dict function
d4 = dict([(1,2),(3,4),(4,5)])
print(d4)
d5 = dict([('name','sahil'),('age',34),(3,3)])
print(d5)

# duplicates keys
d6 = {'name':'sahil','name':'rahul'}
print(d6)

# mutable items as keys
d7 = {'name':'nitish',[1,2,3]:1}
print(d7)

<class 'dict'>
{'name': 'sahil', 'gender': 'Male', 'Age': 32}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'sahil', 'college': 'Gla university', 'semester': 4, 'subjects': {'Dsa': 97, 'Math': 85, 'english': 78, 'Science': 88}}
{1: 2, 3: 4, 4: 5}
{'name': 'sahil', 'age': 34, 3: 3}
{'name': 'rahul'}

TypeError: unhashable type: 'list'

##### Accessing items

In [51]:
my_dict = {'Name':'Sahil','Age':32,'School':'KV'}

print(my_dict['Name'])
print(my_dict['Age'])

print(my_dict.get('Name'))
print(my_dict.get('School'))

Sahil
32
Sahil
KV

In [52]:
# Adding new Key-Value Pair
my_dict['gender'] = 'Male'
print(my_dict)
my_dict['Weight'] = 82
print(my_dict)

{'Name': 'Sahil', 'Age': 32, 'School': 'KV', 'gender': 'Male'}
{'Name': 'Sahil', 'Age': 32, 'School': 'KV', 'gender': 'Male', 'Weight': 82}

In [ ]:
# Remove key-value pair
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
#d.pop(3)
#print(d)
# popitem
#d.popitem()
# d.popitem()
# print(d)
# del
#del d['name']
#print(d)
# clear
d.clear()
print(d)

del s['subjects']['maths']
s

In [ ]:
# Editing key-value pair
stud1 = {
    'name':'sahil',
    'college':'Gla university',
    'semester':4,
    'subjects':{
        'Dsa':97,
        'Math':85,
        'english':78,
        'Science':88
    }
}

stud1['subjects']['dsa'] = 80
print(stud1)

### Dictionary Operations
- Membership
- Iteration

In [ ]:
print(stud1)
print('sahil' in stud1)
print('name' in stud1)

In [ ]:
for i in stud1:
    print(i,stud1[i])

#### Dictionary Functions

In [ ]:
# len/sorted
len(stud1)
print(stud1)
sorted(stud1,reverse=True)
max(stud1)

In [ ]:
# items/keys/values
print(stud1)

print(stud1.items())
print(stud1.keys())
print(stud1.values())

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

#### Dict comprehension 
    {key:value for var in iterable}

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

In [ ]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

In [1]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}