In [1]:
import numpy as np
import pandas as pd

In [11]:
latlong = pd.read_csv(r"C:\Users\sasha\Desktop\Python\Python_Tutorial\Python Projects\Plotly Project\district wise centroids.csv")
india_2011 = pd.read_csv(r"C:\Users\sasha\Desktop\Python\Python_Tutorial\Python Projects\Plotly Project\india-districts-census-2011.csv")
india_2011.head(2)

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066

In [29]:
latlong.head(2)

                 State         District   Latitude  Longitude
0  Andaman and Nicobar  Andaman Islands  12.382571  92.822911
1  Andaman and Nicobar  Nicobar Islands   7.835291  93.511601

In [5]:
latlong.shape

(594, 4)

In [7]:
latlong.isnull().sum()

State        0
District     0
Latitude     0
Longitude    0
dtype: int64

In [9]:
latlong.duplicated().sum()

0

In [12]:
india_2011.shape

(640, 118)

In [17]:
india_2011.isnull().sum()

District code                    0
State name                       0
District name                    0
Population                       0
Male                             0
                                ..
Power_Parity_Rs_330000_425000    0
Power_Parity_Rs_425000_545000    0
Power_Parity_Rs_330000_545000    0
Power_Parity_Above_Rs_545000     0
Total_Power_Parity               0
Length: 118, dtype: int64

In [18]:
india_2011.duplicated().sum()

0

In [20]:
india_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Columns: 118 entries, District code to Total_Power_Parity
dtypes: int64(116), object(2)
memory usage: 590.1+ KB

In [22]:
# India cencus Data has 118 cols but we need only few columns for analysis 
cols = ['District code','District name','Population','Male','Female','Literate','Households_with_Internet','Housholds_with_Electric_Lighting']

In [26]:
india_2011 = india_2011[cols]

In [28]:
india_2011.head(2)

,District code,District name,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,1,Kupwara,870354,474190,396164,439654,762,83071
1,2,Badgam,753745,398041,355704,335649,1999,90190

In [32]:
india_census_data = latlong.merge(india_2011,left_on='District',right_on='District name').drop(columns=['District name'])

In [33]:
india_census_data.shape

(517, 11)

In [34]:
india_census_data.head(2)

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,566108
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,897970

In [38]:
# So In the india_census_data we will create 2 calculated columns literacy_rate and sex_ratio
india_census_data['Sex_Ratio']= round(india_census_data['Female']/india_census_data['Male']*100)

In [39]:
india_census_data

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting,Sex_Ratio
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,566108,100.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,897970,98.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,944555,100.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,1297273,101.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,1186028,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,5357,297716,94.0
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,7951,541169,96.0
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,12787,623729,95.0
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,3551,189889,96.0
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,2883,199307,94.0

In [45]:
india_census_data['Literacy_rate']= round((india_census_data['Literate']/india_census_data['Population'])*100)

In [51]:
india_census_data.drop(columns=['Male','Female','Literate'],inplace=True)

In [53]:
india_census_data.to_csv('India.csv')